body {
    margin: 0;
    color: #4BE689;
    background-color: #1F2937;
    font-family: hedvig-letters-sans-regular, Helvetica, Arial, sans-serif
}

.color-white {
    color: white;
}

.hedvig-letters-sans-regular {
  font-family: "Hedvig Letters Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    text-align: left;
    margin-top: 0px;
    font-weight:900
    font-family: hedvig-letters-sans-regular, Helvetica, Arial, sans-serif;
}